{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <h1>Login Form</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>ThapareX</title>
</head>

<body>

    <!-- <div><a href="indexroute.html"><img src="logobes.png" alt="" style="height: 200px;width: 200px; margin-top: -100px;"></a></div> -->
    <div class="container" id="container">
        <div class="form-container sign-up">


            <form action="/signup" method="post" >
                <h1>Create Account</h1>
                {{!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> --}}
                <span>or use your email for registeration</span>
                <input id="FullName" name="name" placeholder="Name" pattern="[A-Za-z\s]{1,50}" title="Wrong input Name" type="text" >
                <input  id="RegEmail" name="email" placeholder="Email" pattern="^[^@]+@(thapar\.edu)$" type="email">
                <input type="password" id="RegPass" name="password" placeholder="Password">
                <button id="SignUp" >Sign Up</button>
            </form>

        </div>
        {{!-- LOGIN FORM --}}
        <div class="form-container sign-in">


            
            <form href="/login">
                <h1 id="SignIn">Sign In</h1>
                {{!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> --}}
                <span>or use your email password</span>
                <input placeholder="Name" name="name" type="text">
                <input type="email" placeholder="Email" id="Inmail" name:"email">
                {{!-- <input type="password" placeholder="Password" id="InPass"> --}}
                <input placeholder="Password" name="password" type="password"  id="InPass">

                <a href="#">Forget Your Password?</a>
                <button id="signIn">Sign In</button>
            </form>


        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

     
</body>
<script>
    
   
    const container = document.getElementById('container');
const registerBtn = document.getElementById('register');
const loginBtn = document.getElementById('login');

registerBtn.addEventListener('click', () => {
    container.classList.add("active");
});

loginBtn.addEventListener('click', () => {
    container.classList.remove("active");
});
</script>
</html>